body{
    margin:0;
    padding:0;
}
h1, h3, h4, h5, h6{
    margin:0;
    padding:0;
}
h2{
    margin:0;
    padding:0;
    font-size: 70px;
}
ul, ol{
    list-style:none;
    padding:0;
    margin:0;
}
a{
    text-decoration: none;
    color:inherit;
}
.clearfix::before,
.clearfix::after{
    content:"";
    display:block;
    clear:both;
}
header{
    background-color:white;
    padding:3px;
    box-shadow: 2px 4px 10px #888888;
}
h1{
   text-align: center;
   display:block;
   font-size:75px;
}
.boi img{
    float:left;
    height:80px;
    margin-left:30px;
    
}
main{
   text-align: center; 
}
main h2{
    font-size:60px;
    display:block;
    margin:20px;
}

 .carousel-inner{
    height:100%;
}

.carousel-inner>.item>a>img, .carousel-inner>.item>img{
    height:350px;
    margin:60px;
    display:inline;
}

.item{
    height:100%;
}

.carousel-control{
    z-index:1000;
    transition:s;
}
.carousel-indicators li{
    background-color: black;
    height: 15px;
    width: 15px;
}
.carousel-indicators .active{
    background-color: blue;
    height: 15px;
    width: 15px;
}
.carousel-inner img{
    
    box-shadow: 10px 10px 5px #888888;
}


main p{
    margin-left: 200px;
    margin-right: 200px;
    font-size:20px;
    padding:30px;
}
footer {
    height:30px;
    background-color: black;
}
footer img{
    text-align:center;
    
}
#copyright{
    font-size:25px;
        color: #999;
        padding:10px;
}


.btn{
    font-size:30px;
    color:white;
    background-color: rgb(223, 131, 22);
    margin-left:200px;
    margin-right:200px;
    margin-bottom:20px;
    
}
a:hover{
    background-color: #6596ba;
    transition:.3s;
}

@media screen and (min-width: 480px){
    body {
        
    }
    
    footer{ 
        
    }
}


















